.git {
  width: 150px;
  aspect-ratio: 1;
  background: 
    linear-gradient(45deg,
       #de4c36 37%,   #0000 37.5% 54%,
       #fff 54.5% 66%,#0000 66.5%) 39% 62%/52% 52% no-repeat,
    linear-gradient(#fff 0 0)      0   29%/76% 9%  no-repeat,
    radial-gradient(#fff 36%,#0000 37%) 17% 17%/40% 40%,
    #de4c36;
  border-radius: 8%;
  transform: rotate(45deg);
}


body {
	display: grid;
	height: 100vh;
	margin: 0;
	place-items: center;
  background: #ddd;
}